@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.searchBar {

}

.searchItem {
    padding: 10px;
    background-color: rgba(211,211,211, 0.5);
}
.searchItem:nth-child(even) {
    background-color: rgba(156,143,107, 0.5);
}