@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.wrapper {
    margin: 0 20px;
}

.searchResultsList {

}

.searchResultsListItem {
    margin-top: 10px;
    margin-bottom: 10px;
}